
#navigatorMenu{
    padding: 0.5%;
    background-color: green;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#navigatorMenu > ul > li{
    text-decoration: none;
    list-style: none;
}